.cards {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
}

@media (min-width: 720px ) and (max-width: 1024px) {
    .cards {
        max-width: 95%;
        }
}

@media (min-width: 320px) and (max-width: 720px) {
    .cards{
        max-width: 95%;
        }
}