.photo-grid {
    max-width: 95%;
    display: flex;
    margin: auto;
    margin-top: 66px;
}

@media (min-width: 720px ) and (max-width: 1024px) {
    .photo-grid {
        max-width: 95%;
        }
}

@media (min-width: 320px) and (max-width: 720px) {
    .photo-grid {
        max-width: 95%;
        }
}