.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    filter: grayscale(100%);
}


@media (min-width: 720px ) and (max-width: 1024px) {
    .lead {
        max-width: 100%;
        }
}

@media (min-width: 320px) and (max-width: 720px) {
    .lead {
        max-width: 100%;
        }
}