.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    justify-content: center;
    max-width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 91px;
}

@media (min-width: 720px ) and (max-width: 1024px ) {
    .lead__title {
        max-width: 95%;
    }
}

@media (min-width: 320px) and (max-width: 720px) {
    .lead__title {
        max-width: 95%;
        }
}