@import url(../fonts/inter.css);

.root {
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
}

@media screen (min-width: 1024px) {
    
}

@media screen (min-width: 320px) and (max-width: 720) {
    
}

@media screen (min-width: 720px ) and (max-width: 1024px ) {
    
}