.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: contain;
}

.cover:hover .cover__background{
    opacity: 80%;
  }

  @media (min-width: 320px) and (max-width: 720px) {
    .cover {
        width: 100%;
        height: 400px;
    }
}