.cards__website {
    display: flex;
    flex-direction: column;
    width: calc(55% - 14px);
    justify-content: flex-end;
    margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 720px) {
    .cards__website {
        width: 100%;
        }
}