.buy-btn {
    font-size: 18px;
    text-align: center;
    max-width: calc(50% - 15px);
    width: 40%;
    background-color: #0278FE;
    height: 48px;
    color: white;
    pointer-events: auto;
}

.buy-btn:hover {
    background-color: #0063D2;
}

@media (min-width: 320px) and (max-width: 720px) {
    .buy-btn {
        width: 100%;
        max-width: none;
    }
}